<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvycZKPliM4ZpJn836L8E2uUeryj2EbhI</string>
	<key>GCM_SENDER_ID</key>
	<string>913774450801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTodoXd</string>
	<key>PROJECT_ID</key>
	<string>todo-list-db-b327f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-db-b327f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913774450801:ios:460c52f697bcf0bc2223d0</string>
</dict>
</plist>